{% extends 'base.html' %}
{% block titulo %} Bandanas Chile {% endblock %}
{% block content %}

            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-sm-6">
                     <div class="single-product-image-inner">
                        <!-- Tab panes -->
                        <div class="tab-content">
                           <div role="tabpanel" class="tab-pane active" id="one">
                              <img src="images/bg-1.jpg" alt="">
                           </div>
                           <div role="tabpanel" class="tab-pane" id="two">
                              <img src="images/bg-2.jpg" alt="">
                           </div>
                           <div role="tabpanel" class="tab-pane" id="three">
                              <img src="images/bg-3.jpg" alt="">
                           </div>
                        </div>
                        <!-- Nav tabs -->
                        <ul class="product-tabs" role="tablist">
                           <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab"><img src="images/thumb-1.jpg" alt=""></a></li>
                           <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab"><img src="images/thumb-2.jpg" alt=""></a></li>
                           <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab"><img src="images/thumb-3.jpg" alt=""></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="clearfix visible-xs"></div>
                  <div class="col-md-offset-1 col-md-5 col-sm-6">
                     <div class="single-product-details">
                        <div class="list-pro-rating">
                           <i class="fa fa-star icolor"></i>
                           <i class="fa fa-star icolor"></i>
                           <i class="fa fa-star icolor"></i>
                           <i class="fa fa-star icolor"></i>
                           <i class="fa fa-star"></i>
                        </div>
                        <h2>Men's Footwear</h2>
                        <h4>in stock</h4>
                        <p>leading destination for online shopping in India, offering some of the best prices and a completely hassle-free experience with options of paying through Cash on Delivery, Debit Card, Credit Card and Net Banking processed through secure and trusted gateways. </p>
                        <div class="single-product-price">
                           <h2>$50.66</h2>
                           <span>&nbsp;&nbsp;&nbsp;<s>40% off</s></span>
                        </div>
                        <p class="single-shop-select">
                           <label>color</label>
                           <select>
                              <option>Green</option>
                              <option>Black</option>
                              <option>Gold</option>
                           </select>
                        </p>
                        <p class="single-shop-select">
                           <label>Size</label>
                           <select>
                              <option>S</option>
                              <option>M</option>
                              <option>X</option>
                              <option>XL</option>
                              <option>2X</option>
                              <option>3X</option>
                           </select>
                        </p>
                        <div class="product-attributes clearfix">
                           <span class="pull-left" id="quantity-wanted-p">
                           <span class="dec qtybutton">-</span>
                           <input type="text" value="1" class="cart-plus-minus-box">
                           <span class="inc qtybutton">+</span> 
                           </span>
                           <span>
                           <a class="cart-btn btn-danger" href="product-cart.html">
                           <span><i class="fa fa-cart-plus"></i> Add to Cart</span>
                           </a>
                           </span>
                           <span>
                           <a class="cart-btn btn-success" href="product-checkout.html">
                           <span><i class="fa fa-bolt"></i> Buy Now</span>
                           </a>
                           </span>
                        </div>
                        <div class="add-to-wishlist">
                           <a class="wish-btn" href="cart.html">
                           <i class="fa fa-heart-o"></i>
                           <span>ADD TO WISHLIST</span>
                           </a>
                        </div>
                        <div class="single-product-categories">
                           <label>Categories:</label>
                           <span>FootwearMen's > FootwearCasual > ShoesClarks > Casual</span>
                           <div class="clear"></div>
                           <label>Services:</label>
                           <span>Cash On Delivery available?</span>
                           <div class="clear"></div>
                           <label>Categories:</label>
                           <span>30 Days Exchange Policy?</span>
                           <div class="clear"></div>
                           <label>Payment Method</label>
                           <span>Safe and Secure Payments. Easy returns.</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-9">
                     <div class="p-details-tab-content section-padding-2">
                        <div class="p-details-tab">
                           <ul class="p-details-nav-tab" role="tablist">
                              <li role="presentation" class="active">
                                 <a href="#more-info" aria-controls="more-info" role="tab" data-toggle="tab">Product Description</a>
                              </li>
                              <li role="presentation"><a href="#review" aria-controls="data" role="tab" data-toggle="tab">Review</a></li>
                              <li role="presentation"><a href="#feedback" aria-controls="data" role="tab" data-toggle="tab">Feedback</a></li>
                           </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tab-content review">
                           <div role="tabpanel" class="tab-pane active" id="more-info">
                              <p>Indiashopy.com is a leading destination for online shopping in India, offering some of the best prices and a completely hassle-free experience with options of paying through Cash on Delivery, Debit Card, Credit Card and Net Banking processed through secure and trusted gateways. Now shop for your favorite books, apparel, footwear, lifestyle accessories, baby care products, toys, posters, sports and fitness, mobile phones, laptops, cameras, movies, music, health and beauty, televisions, refrigerators, air-conditioners, washing machines, MP3 players and products from a host of other categories available.</p>
                           </div>
                           <div role="tabpanel" class="tab-pane" id="review">
                              <form class="form-horizontal">
                                 <div id="review"></div>
                                 <h2>Write a review</h2>
                                 <div class="form-group required">
                                    <div class="col-sm-12">
                                       <label class="control-label" for="input-name">Your Name</label>
                                       <input type="text" name="name" value="" id="input-name" class="form-control">
                                    </div>
                                 </div>
                                 <div class="form-group required">
                                    <div class="col-sm-12">
                                       <label class="control-label" for="input-review">Your Review</label>
                                       <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                    </div>
                                 </div>
                                 <div class="form-group required">
                                    <div class="col-sm-12">
                                       <label class="control-label">Rating</label>
                                       &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                       <input type="radio" name="rating" value="1">
                                       &nbsp;
                                       <input type="radio" name="rating" value="2">
                                       &nbsp;
                                       <input type="radio" name="rating" value="3">
                                       &nbsp;
                                       <input type="radio" name="rating" value="4">
                                       &nbsp;
                                       <input type="radio" name="rating" value="5">
                                       &nbsp;Good
                                    </div>
                                 </div>
                                 <div class="buttons clearfix">
                                    <div class="pull-right">
                                       <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                           <div role="tabpanel" class="tab-pane" id="feedback">
                              <blockquote>
                                 <p>Very stylish shoes.I can wear them on any attire or any occasion and also very comfortable.</p>
                                 <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                              </blockquote>
                              <blockquote class="blockquote-reverse">
                                 <p>It has a soft sole inside the shoe which Clarks calls as 'Atsu footbed' which bas several small beads on it.</p>
                                 <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                              </blockquote>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         

{% endblock %}