{% extends 'base.html' %}
{% load thumbnail %}
{% load bootstrap %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-3">
    		<div class="col-md-12" align="center">
    		{% thumbnail user.fotoPerfil "200x200" crop="center" as im %}
          		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-thumbnail pull-left img-margin-down">
        	{% endthumbnail %}
    		</div>
    		<div class="col-md-12">
    			<p class="text-center "><strong> {{user.first_name}}  {{user.last_name}}</strong></p>
    		</div>
    		<div class="col-md-12">
    			<br >
    			<ul class="list-group list-primary">
    				<a href="#fotoPerfil" class="list-group-item" data-toggle="tab">Foto Perfil</a>
    				<a href="#personales" class="list-group-item" data-toggle="tab">Datos Personales</a>
    				<a href="#direcciones" class="list-group-item" data-toggle="tab">Direcciones</a>
				</ul>
			</div>
        </div>

        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade" id="fotoPerfil">
                    <h1>Foto de Perfil</h1>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|bootstrap}}
                    <input type="submit"  value="Enviar" class="btn btn-primary btn-md">
                    </form>
                </div>
                <div class="tab-pane fade" id="personales">
                    <h1>Datos Personales</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form2|bootstrap}}
                    <input type="submit"  value="Enviar" class="btn btn-primary btn-md">
                    </form>
                </div>
                <div class="tab-pane fade" id="direcciones">
                    <h1>Direcciones</h1>
                </div>
            </div>
        </div>
	</div>
</div>


{% endblock %}