{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-3">
    		<div class="col-md-12" align="center">
    		{% thumbnail user.fotoPerfil "200x200" crop="center" as im %}
          		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive img-thumbnail pull-left img-margin-right">
        	{% endthumbnail %}
    		</div>
    		<div class="col-md-12">
    			<p class="text-center "><strong> {{user.first_name}}  {{user.last_name}}</strong></p>
    		</div>
    		<div class="col-md-12">
    			<br >
    			<ul class="list-group list-primary">
    				<a href="#" class="list-group-item">Mi perfil</a>
    				<a href="#" class="list-group-item">Imagen</a>
    				<a href="#" class="list-group-item">Datos Personales</a>
    				<a href="#" class="list-group-item">Direcciones</a>
				</ul>
			</div>
        </div>
	</div>
</div>


{% endblock %}