{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

<div class="container">

  <div class="col-md-3">
                <div class="row">
                    <div class="col-sm-4 col-lg-12"> 
                        <p class="lead">Categorías productos</p>
                        {% for cat in categoria %}
                        <div class="list-group">
                            <a href="{% url 'categorias' cat.id %}" class="list-group-item">{{cat.nombre}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

</div>

{% endblock %}